.appoint-details-section {
  color: #fff;
  height: 100vh;
  background-image: url('../images/appoint-details.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.appoint-details-section .bg-pink {
  background-color: #339cacda;
  height: 100%;
}
