.date-div{
 background-color:rgba(0, 0, 0, 0.85);;
 width: 100vw;
}

.date-form {
  height: 100vh;
  width: 100vw;
}

.form {
  padding-top: 15rem;
}

.date-button {
  background-color: $background-color;
}

input::placeholder {
  font-size: medium;
}
